.cards-container{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.card{
    border: 1px solid black;
    border-radius: 20px;
}

.card-img-1{
    border: 1px solid black;
    border-radius: 20px;
}

.card-img-2{
    border: 1px solid black;
    border-radius: 20px;
}

.card-img-3{
    border: 1px solid black;
    border-radius: 20px;
}